<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div
            class="healthbar__value"
            :style="{width: monsterHealth + '%'}"
          ></div>
          <div class="healthbar_lost" :style="monsterBarStyles"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div
            class="healthbar__value"
            :style="{width: yourHealth + '%'}"
          ></div>
          <div class="healthbar_lost" :style="yourBarStyles"></div>
        </div>
      </section>
      <section class="container" v-if="win">
        <h2>End Game</h2>
        <h3 v-if="win == 'your'">You Win</h3>
        <h3 v-else-if="win == 'monster'">You Lost</h3>
        <h3 v-else-if="win == 'draw'">It's a draw</h3>
      </section>

      <section id="controls" v-if="!win">
        <button @click="attckMonster">ATTACK</button>
        <button
          :disabled="rountCanUsespecialAttackMonster"
          @click="specialAttackMonster"
        >
          SPECIAL ATTACK
        </button>
        <button @click="healYour">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section v-if="win">
        <button @click="start">Start</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log in logMessage">
            {{log.actionBy}} - {{log.actionType}} -- {{log.actionValue}}
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
